.questions,
.q,
.o1,
.o2,
.o3,
.o4,
.answer,
.questionType,
.marksOnCorrect,
.marksOnInCorrect,
.questionImageUpload,
.questionSolutionExplanation {
  overflow-y: hidden;
}

.q,
.o1,
.o2,
.o3,
.o4,
.answer,
.questionType,
.marksOnCorrect,
.marksOnInCorrect,
.questionImageUpload,
.questionSolutionExplanation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.questions {
  padding: 5px 10px;
}

.questions label {
  font-size: 1.2em;
  font-weight: bold;
  width: 160px;
}

.questions input,
select {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid #313131;
  outline: none;
}

.editableQuestion {
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #313131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#question {
  height: 100px;
  /* width: 800px; */
  width: 100%;
  resize: none;
  padding: 3px;
}

.removeBtn,
.addQuestionBtn {
  padding: 5px;
  margin: 10px 15px;
  width: 97%;
  transition: 0.5s;
}

.removeBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 97, 97);
  /* box-shadow: 0 0 5px rgb(255, 97, 97); */
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.addQuestionBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.btn {
  margin: 0 5px;
  margin-bottom: 10px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  border: 1px solid #313131;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
}

#makeTestOnlineBtn:hover {
  background-color: rgba(66, 255, 120, 0.934);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

#updateStudentBtn:hover {
  background-color: rgb(97, 255, 215);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

#uploadTestBtn:hover {
  background-color: rgb(204, 255, 0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

#clearTestBtn:hover {
  background-color: rgb(255, 97, 97);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

#logOutBtn:hover {
  background-color: rgb(255, 160, 96);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.mainDivOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #313131;
  padding: 10px;
}

.optionText {
  width: 50%;
  margin-right: 4px;
}

.optionText input {
  width: 94%;
  height: 30px;
  padding: 5px;
  border: 1px solid #313131;
  outline: none;
}

.optionImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionImage img,p {
  width: 200px;
  height: auto;
  margin-right: 5px;
  /* height: 40px; */
}

.imageConsole {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.removeImageBtn {
  margin-top: 10px;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #313131;
  background-color: rgb(255, 138, 138);;
  transition: 0.5s;
}

.removeImageBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 97, 97);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.imageUploadInput {
  width: 200px;
}

input[type="file"] {
  width: 90%;
}

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
